<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/sample</property>
    <property name="hibernate.connection.username">app</property>
    <property name="hibernate.connection.password">app</property>
    <mapping resource="com/dentinium/db/users.hbm.xml"/>
    <mapping resource="com/dentinium/db/doctors.hbm.xml"/>
    <mapping resource="com/dentinium/db/reservations.hbm.xml"/>
    <mapping resource="com/dentinium/db/income.hbm.xml"/>
    <mapping resource="com/dentinium/db/admins.hbm.xml"/>
    <mapping resource="com/dentinium/db/customers.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
